/*.section {
	position: relative;
	height: 100pvh;
}

.section .section-center {
	position: absolute;
	top: 0%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
}*/



.booking {
    background-color: rgba(26, 55, 77, 0.05);
}

.booking-form {
    padding: 0px 40px 40px;
    margin: 100px;
    width: 75%;
    background: rgba(26, 55, 77, 0.05);
    border-radius: 20px;
    overflow: hidden;
    font-size: 2rem;
}

    .booking-form .form-header {
        padding: 40px;
        margin: 0px -40px 30px;
        background: rgb(31, 66, 92);
    }

        .booking-form .form-header h1 {
            font-weight: 700;
            text-transform: capitalize;
            font-size: 38px;
            margin: 0;
            color: #ffffff;
        }


    .booking-form option {
        letter-spacing:1px;
        font-size: 2rem;
    }

    .booking-form .form-group {
        position: relative;
        margin-bottom: 30px;
    }

    .booking-form ::placeholder {
        font-family: monospace;
        font-size: 20px;
    }

   /* .booking-form .form-control {
        background-color: #e8ecee;
        height: 50px;
        padding: 7px 20px 0px;
        border: none;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #000;

    }*/

.form-group select {
    background-color: #e8ecee;
    border: none;
    border-radius: none;
    width: 100%;
    height: 50px;
    padding:10px;
    font-size:18px;
}
.form-group input[type="date"],input[type="text"] {
    background-color: #e8ecee;
    border: none;
    border-radius: none;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size:18px;
}
.form-group .form-label{
    top:-20px;
    color:pink;
}
/* .booking-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }*/
.booking-form select.form-control + .select-arrow {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 24px;
    text-align: center;
    pointer-events: none;
    height: 50px;
    line-height: 50px;
    color: #2d343b;
    font-size: 14px;
}

            .booking-form select.form-control + .select-arrow:after {
                content: '\279C';
                display: block;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .booking-form .form-label {
        position: absolute;
        top: 15px;
        left: 20px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        line-height: 24px;
        height: 24px;
        font-size: 16px;
        pointer-events: none;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    .booking-form .form-group.input-not-empty .form-label {
        top: -10px;
        color: #fff;
        font-size: 14px;
    }

    /*.booking-form .form-group:not( .input-not-empty) .form-control:not( :focus) {
        color: transparent;
    }*/

    .booking-form .form-group:focus + .form-label {
        top: -10px;
        color: black;
        font-size: 14px;
    }

    .booking-form .form-checkbox input {
        position: absolute !important;
        margin-left: -9999px !important;
        visibility: hidden !important;
    }

    .booking-form .form-checkbox label {
        position: relative;
        padding-top: 4px;
        padding-left: 30px;
        color: #000f;
        font-weight: 700;
    }

        .booking-form .form-checkbox label + label {
            margin-left: 15px;
        }

    .booking-form .form-checkbox input + span {
        position: absolute;
        left: 2px;
        top: 4px;
        width: 20px;
        height: 20px;
        border: 2px solid #1c2126;
        background: rgb(211, 218, 224);
        border-radius: 50%;
    }

    .booking-form .form-checkbox input:checked + span {
        border-color: rgb(31, 66, 92);
    }

    .booking-form .form-checkbox input + span:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: rgb(31, 66, 92);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    .booking-form .form-checkbox input:not(:checked) + span:after {
        opacity: 0;
    }

    .booking-form .form-checkbox input:checked + span:after {
        opacity: 1;
        width: 10px;
        height: 10px;
    }

    .booking-form .submit-btn {
        color: #ffffff;
        background-color: rgb(31, 66, 92);
        font-weight: 700;
        height: 50px;
        border: none;
        padding: 0px 50px;
        border-radius: 5px;
    }
